<style>
  #shopify-section-{{section.id}} .related_productsAll{
    margin-top: {{section.settings.Desktop_top}}px;
    margin-bottom: {{section.settings.Desktop_bottom}}px;

    padding-top:{{section.settings.Desktop_paddingTop}}px;
    padding-bottom:{{section.settings.Desktop_paddingBottom}}px;
  }
  @media(max-width:999px) {
    #shopify-section-{{section.id}} .related_productsAll{
        margin-top: {{section.settings.Mobile_top}}px;
        margin-bottom: {{section.settings.Mobile_bottom}}px;

        padding-top:{{section.settings.Mobile_paddingTop}}px;
        padding-bottom:{{section.settings.Mobile_paddingBottom}}px;
    }
  }
  .related-products {
    display: block;
  }
  .product_recommendationTop {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: flex-end;
  }
  .product_recommendationRight {
    display: flex;
    align-items: center;
    gap: 20px;
  }
   .related_productsAll .swiper-button-prev, .related_productsAll .swiper-button-next  {
      width: 40px;
      height: 40px;
      position: unset;
      margin-top: unset;
  }
  .related_productsAll .swiper-button-prev .section_button2, .related_productsAll .swiper-button-next .section_button2{
      width: 40px;
      height: 40px;
      border: 1px solid var(--f_color3);
  }
  .related_productsAll .swiper-button-prev svg, .related_productsAll .swiper-button-next svg {
      height: 17px;
      width: auto;
  }
  .related_productsAll .swiper-button-prev:hover .section_button2, .related_productsAll .swiper-button-next:hover .section_button2{
      background-color: #ffffff33;
  }
  .product_recommendationBottom {
    margin-top: 40px;
  }
  .product_recommendationBottom_Box  {
    height: auto !important;
  }

  @media (max-width: 999px) {
    .product_recommendationRight {
      display: none;
    }
    .product_recommendationBottom {
      margin-top: 32px; 
    }
    .relatedProductsSwiper .swiper-pagination-bullet{
        opacity: 1;
        background: #fff;
        border-radius: 10px;
    }
    .relatedProductsSwiper .swiper-pagination {
        height: auto;
        position: static;
        line-height: 1;
        margin-top: 22px;
    }
    .relatedProductsSwiper .swiper-pagination span{
        background: rgba(255, 255, 255, 0.5);
    }

    .relatedProductsSwiper .swiper-pagination-bullet {
        opacity: 1;
        position: relative;
        margin: 0 3px;
        width: 8px;
        height: 2px;
        overflow: hidden;
        transition: all .3s;
        border-radius: 8px;
    }

    .relatedProductsSwiper .swiper-pagination-bullet.swiper-pagination-bullet-active{
        width: 20px;
        border-radius: 8px;
        background-color: #fff;
    }
  }
</style>

{% if section.settings.image_shape == 'blob' %}
  {{ 'mask-blobs.css' | asset_url | stylesheet_tag }}
{%- endif -%}

<div class="color-{{ section.settings.color_scheme }} gradient related_productsAll">
  <product-recommendations
    class="related-products page-width section-{{ section.id }}-padding isolate{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
    data-url="{{ routes.product_recommendations_url }}?limit={{ section.settings.products_to_show }}"
    data-section-id="{{ section.id }}"
    data-product-id="{{ product.id }}"
  >
    {% if recommendations.performed and recommendations.products_count > 0 %}
      <div class="product_recommendationTop">
        <h2 class="product_recommendationTitle inline-richtext">
          {{ section.settings.heading }}
        </h2>
        <div class="product_recommendationRight">
          <div class="swiper-button-prev">
            <div class="section_button2">
              <svg xmlns="http://www.w3.org/2000/svg" width="10" height="18" viewBox="0 0 10 18" fill="none">
                <path d="M8.625 17.125L9.875 15.875L2.50001 8.56249L9.875 1.25L8.625 0L7.62939e-06 8.56249L8.625 17.125Z" fill="white"/>
              </svg>
              <span class="corner-tl"></span>
              <span class="corner-br"></span>
            </div>
          </div>
          <div class="swiper-button-next">
            <div class="section_button2">
              <svg xmlns="http://www.w3.org/2000/svg" width="10" height="18" viewBox="0 0 10 18" fill="none">
                <path d="M1.25 17.125L0 15.875L7.37499 8.56249L0 1.25L1.25 0L9.87499 8.56249L1.25 17.125Z" fill="white"/>
              </svg>
              <span class="corner-tl"></span>
              <span class="corner-br"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="product_recommendationBottom">
        <div class="swiper relatedProductsSwiper">
          <div class="swiper-wrapper">
            {% assign skip_card_product_styles = false %}
            {% for recommendation in recommendations.products %}
              <div class="swiper-slide product_recommendationBottom_Box">
                {% render 'card-product-new',
                  card_product: recommendation,
                  media_aspect_ratio: section.settings.image_ratio,
                  image_shape: section.settings.image_shape,
                  show_secondary_image: section.settings.show_secondary_image,
                  lazy_load: lazy_load,
                  skip_styles: skip_card_product_styles,
                  show_quick_add: section.settings.show_quick_add,
                  section_id: section.id
                %}
              </div>
              {%- assign skip_card_product_styles = true -%}
            {% endfor %}
          </div>
          <div class="swiper-pagination pad_mobile"></div>
        </div>
      </div>
    {% endif %}
  </product-recommendations>
  {% if section.settings.image_shape == 'arch' %}
    {{ 'mask-arch.svg' | inline_asset_content }}
  {%- endif -%}
</div>

{% schema %}
{
  "name": "t:sections.related-products.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.related-products.settings.paragraph__1.content"
    },
    {
      "type": "richtext",
      "id": "heading",
      "label": "t:sections.related-products.settings.heading.label"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 10,
      "step": 1,
      "default": 4,
      "label": "t:sections.related-products.settings.products_to_show.label"
    },
    {
      "type": "header",
      "content": "t:sections.related-products.settings.header__2.content"
    },
   
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.related-products.settings.show_secondary_image.label"
    },
       {
      "type": "header",
      "content": "Spacing Top:"
    },
    {
      "type": "number",
      "id": "Desktop_top",
      "label": "Desktop Margin Top",
      "default": 0
    },
    {
      "type": "number",
      "id": "Mobile_top",
      "label": "Mobile Margin Top",
      "default": 0
    },
    {
      "type": "number",
      "id": "Desktop_paddingTop",
      "label": "Desktop Padding Top",
      "default": 0
    },
    {
      "type": "number",
      "id": "Mobile_paddingTop",
      "label": "Mobile Padding Top",
      "default": 0
    },

    {
      "type": "header",
      "content": "Spacing Bottom:"
    },
    {
      "type": "number",
      "id": "Desktop_bottom",
      "label": "Desktop Margin Bottom",
      "default": 0
    },
    {
      "type": "number",
      "id": "Mobile_bottom",
      "label": "Mobile Margin Bottom",
      "default": 0
    },
    {
      "type": "number",
      "id": "Desktop_paddingBottom",
      "label": "Desktop Padding Bottom",
      "default": 0
    },
    {
      "type": "number",
      "id": "Mobile_paddingBottom",
      "label": "Mobile Padding Bottom",
      "default": 0
    }
  ]
}
{% endschema %}
