<style>
  #shopify-section-{{section.id}} .section_Index5All{
      margin-top: {{section.settings.Desktop_top}}px;
      margin-bottom: {{section.settings.Desktop_bottom}}px;

      padding-top:{{section.settings.Desktop_paddingTop}}px;
      padding-bottom:{{section.settings.Desktop_paddingBottom}}px;
  }
  @media(max-width:999px) {
      #shopify-section-{{section.id}} .section_Index5All{
          margin-top: {{section.settings.Mobile_top}}px;
          margin-bottom: {{section.settings.Mobile_bottom}}px;

          padding-top:{{section.settings.Mobile_paddingTop}}px;
          padding-bottom:{{section.settings.Mobile_paddingBottom}}px;
      }
  }
    .section_Index5_img img,.section_Index5_imgIcon img {
        width: 100%;
    }
    .section_Index5All .section_button2 {
      cursor: pointer;
    }
  @media (min-width: 1000px) {
        .section_Index5All  {
            overflow: hidden;
        }
        .carousel {
            position: relative;
            perspective: 1500px;
            overflow: visible;
            mask-image: linear-gradient(to right, hsl(0 0% 0% / 0), hsl(0 0% 0% / 1) 14%, hsl(0 0% 0% / 1) 75%, hsl(0 0% 0% / 0));
        }

        .Index5Cards {
            position: relative;
            width: 100%;
            height: 100%;
            height: 396px;
        }

        .Index5Card {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 272px;
            height: 316px;
            border-radius: 12px;
            background-size: cover;
            background-position: center;
            transform-style: preserve-3d;
            transition: transform 0.45s ease, opacity 0.45s ease;
            opacity: 0;
            pointer-events: none;
        }

        .Index5Card.off {
            transform: translate(-50%, -50%) scale(0.01);
            opacity: 0;
        }

        .Index5Card.pos0 {
            transform: translate(calc(-212% - 220px), -18%) rotate(-17deg);
            opacity: 1;
            z-index: 1;
        }

        .Index5Card.pos1 {
            transform: translate(calc(-120% - 148px), -43%) rotate(-10deg);
            opacity: 1;
            z-index: 2;

        }

        .Index5Card.pos2 {
            transform: translate(-50%, -52%) rotate(0deg);
            opacity: 1;
            z-index: 3;

        }

        .Index5Card.pos3 {
            transform: translate(calc(21% + 148px), -43%) rotate(10deg);
            opacity: 1;
            z-index: 2;

        }

        .Index5Card.pos4 {
            transform: translate(calc(112% + 220px), -18%) rotate(17deg);
            opacity: 1;
            z-index: 1;
        }

        .section_Index5_img {
            position: absolute;
            bottom: 3px;
            height: 347px;
            z-index: 2;
        }
        .Index5Cards_bottomBox:first-child {
            position: relative;
        }
        .Index5Cards_bottomBox {
            display: flex;
            align-items: center;
            opacity: 0;
            visibility: hidden;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            max-width: 500px;
            margin: 0 auto;
        }
        .Index5Cards_bottomBox.active {
            opacity: 1;
            visibility: visible;
        }
        .Index5Cards_bottom {
            max-width: 706px;
            text-align: center;
            margin: 0 auto;
        }
        .Index5Cards_bottomList {
            position: relative;
            display: flex;
            margin-top: 20px;
            min-height: 180px;
            align-items: center;
            justify-content: center;
        }
        .Index5Cards_bottomList .Index5Cards_bottomListSvg {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: 0 auto;
        }

        .section_Index5All .left-btn, .section_Index5All .right-btn  {
            width: 40px;
            height: 40px;
        }
        .section_Index5All .left-btn .section_button2, .section_Index5All .right-btn .section_button2{
            width: 40px;
            height: 40px;
            border: 1px solid var(--f_color3);
        }
        .section_Index2Right .left-btn svg, .section_Index2Right .right-btn svg {
            height: 17px;
            width: auto;
        }
        .section_Index2Left .left-btn svg, .section_Index2Left .right-btn svg {
            height: auto;
            width: 17px;
        }
        .section_Index5All .left-btn:hover .section_button2, .section_Index5All .right-btn:hover .section_button2{
            background-color: #ffffff33;
        }
        .section_Index5All .left-btn {
            position: absolute;
            top: calc(50% - 20px);
            left: 0;
        }
        .section_Index5All .right-btn {
            position: absolute;
            top: calc(50% - 20px);
            right: 0;
        }
        .section_Index5Box.active  .section_button1{
            display: none !important;
        }
        .section_Index5Box.active .section_Index5_imgIcon {
            display: block;
        }
        .section_Index5Box {
            --blur-radius: 10px;
            --x-offset: 4px;
            --y-offset: 4px;
            --color: rgba(0, 0, 0, 0.25);
            filter: drop-shadow(var(--x-offset) var(--y-offset) var(--blur-radius) var(--color));
        }
        .section_Index5_imgBg {
            display: none;
            display: block;
            position: absolute;
            top: -52px;
            left: -42px;
            right: 0;
        }
         .section_Index5Box.active .section_Index5_imgBg {
            width: 348px;
            background-image: url(https://cdn.shopify.com/s/files/1/0785/8421/7824/files/Subtract_1.png?v=1765778593);
            height: 392px;
            background-position: top;
            background-size: 100% 100%;
         }
        .section_Index5Box.active .section_Index5_imgBg{
           background-image: url(https://cdn.shopify.com/s/files/1/0785/8421/7824/files/Subtract_1.png?v=1765778593);
        }
        .section_Index5Box.active .corner-tl,.section_Index5Box.active .corner-br  {
            background-color: var(--t_color2);
        }
        .section_Index5_imgIcon {
            display: none;
            position: absolute;
            right: -24px;
            top: -2px;
            width: 80px;
            z-index: 2;
            height: 80px;
            border-radius: 50%;
        }
        .btn-pagination {
          display: none;
        }
    }
  @media (max-width:999px) {
      .section_Index5All  {
          overflow: hidden;
      }
      .carousel {
          position: relative;
          perspective: 1500px;
          overflow: visible;
          mask-image: linear-gradient(to right, hsl(0 0% 0% / 0), hsl(0 0% 0% / 1) 5%, hsl(0 0% 0% / 1) 95%, hsl(0 0% 0% / 0));
      }

      .Index5Cards {
          position: relative;
          width: 100%;
          height: 100%;
          height: 300px;
      }
      .Index5Cards_bottomListSvg svg {
          width: 100px;
          height: auto;
      }
      .Index5Card {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 197px;
          height: 218px;
          background-size: cover;
          background-position: center;
          transform-style: preserve-3d;
          transition: transform 0.45s ease, opacity 0.45s ease;
          opacity: 0;
          {% comment %} pointer-events: none; {% endcomment %}
      }

      .Index5Card.off {
          transform: translate(-50%, -50%) scale(0.01);
          opacity: 0;
      }

      .Index5Card.pos0 {
          transform: translate(calc(-212% - 110px), -18%) rotate(-17deg);
          opacity: 1;
          z-index: 1;
      }

      .Index5Card.pos1 {
          transform: translate(calc(-120% - 78px), -43%) rotate(-10deg);
          opacity: 1;
          z-index: 2;

      }

      .Index5Card.pos2 {
          transform: translate(-50%, -52%) rotate(0deg);
          opacity: 1;
          z-index: 3;

      }

      .Index5Card.pos3 {
          transform: translate(calc(21% + 78px), -43%) rotate(10deg);
          opacity: 1;
          z-index: 2;

      }

      .Index5Card.pos4 {
          transform: translate(calc(112% + 110px), -18%) rotate(17deg);
          opacity: 1;
          z-index: 1;
      }

      .section_Index5_img {
          position: absolute;
          bottom: 3px;
          height: 250px;
          z-index: 2;
      }
      .Index5Cards_bottomBox:first-child {
          position: relative;
      }
      .Index5Cards_bottomBox {
          display: flex;
          align-items: center;
          opacity: 0;
          visibility: hidden;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          max-width: 500px;
          margin: 0 auto;
      }
      .Index5Cards_bottomBox.active {
          opacity: 1;
          visibility: visible;
      }
      .Index5Cards_bottom {
          max-width: 706px;
          text-align: center;
          margin: 0 auto;
      }
      .Index5Cards_bottomList {
          position: relative;
          display: flex;
          margin-top: 20px;
          min-height: 100px;
          align-items: center;
          justify-content: center;
      }
      .Index5Cards_bottomList .Index5Cards_bottomListSvg {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: 0 auto;
      }

      .section_Index5All .left-btn, .section_Index5All .right-btn  {
          display: none ;
      }
      .section_Index5All .left-btn .section_button2, .section_Index5All .right-btn .section_button2{
          width: 40px;
          height: 40px;
          border: 1px solid var(--f_color3);
      }
      .section_Index2Right .left-btn svg, .section_Index2Right .right-btn svg {
          height: 17px;
          width: auto;
      }
      .section_Index2Left .left-btn svg, .section_Index2Left .right-btn svg {
          height: auto;
          width: 17px;
      }
      .section_Index5All .left-btn:hover .section_button2, .section_Index5All .right-btn:hover .section_button2{
          background-color: #ffffff33;
      }
      .section_Index5All .left-btn {
          position: absolute;
          top: calc(50% - 20px);
          left: 0;
      }
      .section_Index5All .right-btn {
          position: absolute;
          top: calc(50% - 20px);
          right: 0;
      }
      .section_Index5Box.active  .section_button1{
          display: none !important;
      }
      .section_Index5Box.active .section_Index5_imgIcon {
          display: block;
      }
      .section_Index5Box {
          --blur-radius: 10px;
          --x-offset: 4px;
          --y-offset: 4px;
          --color: rgba(0, 0, 0, 0.25);
          filter: drop-shadow(var(--x-offset) var(--y-offset) var(--blur-radius) var(--color));
      }
      .section_Index5_imgBg {
          display: none;
          display: block;
          position: absolute;
          top: -43px;
          left: -28px;
          right: 0;
      }
        .section_Index5Box.active .section_Index5_imgBg {
          width: 244px;
          background-image: url(https://cdn.shopify.com/s/files/1/0785/8421/7824/files/Subtract_1.png?v=1765778593);
          height: 278px;
          background-position: top;
          background-size: 100% 100%;
        }
      .section_Index5Box.active .section_Index5_imgBg{
          background-image: url(https://cdn.shopify.com/s/files/1/0785/8421/7824/files/Subtract_1.png?v=1765778593);
      }
      .section_Index5Box.active .corner-tl,.section_Index5Box.active .corner-br  {
          background-color: var(--t_color2);
      }
      .section_Index5_imgIcon {
        display: none;
        position: absolute;
        right: -24px;
        top: -32px;
        width: 60px;
        z-index: 2;
        height: 60px;
        border-radius: 50%;
      }


    .section_Index5All .btn-pagination{
        position: unset;
        width: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }

    .section_Index5All .swiper-pagination-bullet{
        opacity: 1;
        border-radius: 10px;
    }

    .section_Index5All .swiper-pagination-bullet {
        opacity: 1;
        position: relative;
        margin: 0 3px !important;
        width: 8px;
        height: 2px !important;
        overflow: hidden;
        transition: all .3s;
        background: rgba(255, 255, 255, 0.5);
        border-radius: 2px;
    }

    .section_Index5All .swiper-pagination-bullet.swiper-pagination-bullet-active{
        width: 20px;
        border-radius: 10px;
        background-color: #fff;
    }


  }
</style>
<div class="section_Index5All color-{{ section.settings.color_scheme }} gradient">
  <div class="page-width">
    <div class="section_Index5_box  {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
      <div class="carousel">
        <div class="Index5Cards" id="Index5Cards">
          {% for block in section.blocks %}
            <div class="Index5Card section_Index5Box {% if forloop.first %} active {% endif %}">
              <div class="section_Index5_img">
                <img
                  loading="lazy"
                  src="{{ block.settings.img | img_url:'master' }}"
                  alt="{{ block.settings.img.alt }}"
                  class=""
                >
              </div>
              <div class="section_Index5_imgBg"></div>
              {% if block.settings.icon != blank %}
                <div class="section_Index5_imgIcon">
                  <img
                    loading="lazy"
                    src="{{ block.settings.icon | img_url:'master' }}"
                    alt="{{ block.settings.icon.alt }}"
                    class="hover_img"
                  >
                </div>
              {% endif %}
              <div class="section_button1">
                <span class="corner-tl"></span>
                <span class="corner-br"></span>
              </div>
              <!--
                <span class="dis1"></span>
                <span class="dis2"></span>
              -->
            </div>
          {% endfor %}
        </div>
        <div class="Index5Cards_bottom">
          {% if section.settings.title != blank %}
            <div class="Index5Cards_bottomTitle font2 my_h_20 my_m_24">
              {{ section.settings.title }}
            </div>
          {% endif %}
          <div class="Index5Cards_bottomList">
            {% for block in section.blocks %}
              <div class="Index5Cards_bottomBox my_h_24 my_m_16 {% if forloop.first %} active {% endif %}">
                {{ block.settings.text }}
              </div>
            {% endfor %}
            <div class="Index5Cards_bottomListSvg">
              <svg xmlns="http://www.w3.org/2000/svg" width="180" height="180" viewBox="0 0 180 180" fill="none">
                <g opacity="0.2">
                    <path d="M101.25 101.25L101.25 22.5L180 22.5L180 102.375C180 156.375 129.375 163.125 129.375 163.125L122.625 147.375C122.625 147.375 145.125 144 149.625 126C154.125 112.5 145.125 101.25 145.125 101.25L101.25 101.25ZM5.40928e-06 101.25L1.22938e-05 22.5L78.75 22.5L78.75 102.375C78.75 156.375 28.125 163.125 28.125 163.125L21.375 147.375C21.375 147.375 43.875 144 48.375 126C52.875 112.5 43.875 101.25 43.875 101.25L5.40928e-06 101.25Z" fill="#75787B"/>
                </g>
              </svg>
            </div>

            <div class="btn left-btn">
              <div class="section_button2">
                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="18" viewBox="0 0 10 18" fill="none">
                  <path d="M8.625 17.125L9.875 15.875L2.50001 8.56249L9.875 1.25L8.625 0L7.62939e-06 8.56249L8.625 17.125Z" fill="white"/>
                </svg>
                <span class="corner-tl"></span>
                <span class="corner-br"></span>
              </div>
            </div>
            <div class="btn right-btn">
              <div class="section_button2">
                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="18" viewBox="0 0 10 18" fill="none">
                  <path d="M1.25 17.125L0 15.875L7.37499 8.56249L0 1.25L1.25 0L9.87499 8.56249L1.25 17.125Z" fill="white"/>
                </svg>
                <span class="corner-tl"></span>
                <span class="corner-br"></span>
              </div>
            </div>
          </div>
          {% if section.blocks.size > 1 %}
            <div class="bth btn-pagination">
              {% for block in section.blocks %}
                <span
                  class="swiper-pagination-bullet {% if forloop.first %}swiper-pagination-bullet-active{% endif %}"
                  data-index="{{ forloop.index0 }}"
                ></span>
              {% endfor %}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    const $Index5Cards = $('.Index5Card');
    const $Index5CardsBottomBox = $('.Index5Cards_bottomBox');
    const $Index5CardsTabBox = $('.section_Index5Box');
    const $Index5Wrapper = $('#Index5Cards');
    const $paginationBullets = $('.btn-pagination .swiper-pagination-bullet');

    let centerIndex = 0;

    function updateIndex5Cards() {
      const total = $Index5Cards.length;

      // 更新 bottom / tab
      $Index5CardsBottomBox.eq(centerIndex).addClass('active').siblings().removeClass('active');
      $Index5CardsTabBox.eq(centerIndex).addClass('active').siblings().removeClass('active');

      // 更新 cards
      $Index5Cards.removeClass('pos0 pos1 pos2 pos3 pos4').addClass('off');
      for (let i = -2; i <= 2; i++) {
        const index = (centerIndex + i + total) % total;
        $Index5Cards
          .eq(index)
          .removeClass('off')
          .addClass('pos' + (i + 2));
      }

      // 更新分页点
      $paginationBullets.removeClass('swiper-pagination-bullet-active');
      $paginationBullets.eq(centerIndex).addClass('swiper-pagination-bullet-active');
    }

    updateIndex5Cards();

    /* ---------- button ---------- */
    $('.left-btn').on('click', function () {
      centerIndex = (centerIndex - 1 + $Index5Cards.length) % $Index5Cards.length;
      updateIndex5Cards();
    });

    $('.right-btn').on('click', function () {
      centerIndex = (centerIndex + 1) % $Index5Cards.length;
      updateIndex5Cards();
    });

    /* ---------- drag / swipe ---------- */
    let startX = 0;
    let dragging = false;

    function start(e) {
      dragging = true;
      startX = e.touches ? e.touches[0].clientX : e.clientX;
    }

    function end(e) {
      if (!dragging) return;
      dragging = false;

      const endX = e.changedTouches ? e.changedTouches[0].clientX : e.clientX;
      const diff = endX - startX;
      if (Math.abs(diff) < 50) return;

      centerIndex =
        diff < 0
          ? (centerIndex + 1) % $Index5Cards.length
          : (centerIndex - 1 + $Index5Cards.length) % $Index5Cards.length;

      updateIndex5Cards();
    }

    $Index5Wrapper.on('mousedown touchstart', function (e) {
      if (e.type === 'touchstart') e.preventDefault();
      start(e);
    });
    $(window).on('mouseup touchend touchcancel', end);

    /* ---------- pagination bullet click ---------- */
    {% comment %} $paginationBullets.on('click', function () {
      const index = parseInt($(this).data('index'));
      centerIndex = index;
      updateIndex5Cards();
    }); {% endcomment %}
  });
</script>
{% schema %}
{
  "name": "section Index5",
  "tag": "section",
  "settings": [
    {
      "type": "textarea",
      "id": "title",
      "label": "title"
    },
    {
      "type": "header",
      "content": "Spacing Top:"
    },
    {
      "type": "number",
      "id": "Desktop_top",
      "label": "Desktop Margin Top",
      "default": 0
    },
    {
      "type": "number",
      "id": "Mobile_top",
      "label": "Mobile Margin Top",
      "default": 0
    },
    {
      "type": "number",
      "id": "Desktop_paddingTop",
      "label": "Desktop Padding Top",
      "default": 0
    },
    {
      "type": "number",
      "id": "Mobile_paddingTop",
      "label": "Mobile Padding Top",
      "default": 0
    },

    {
      "type": "header",
      "content": "Spacing Bottom:"
    },
    {
      "type": "number",
      "id": "Desktop_bottom",
      "label": "Desktop Margin Bottom",
      "default": 0
    },
    {
      "type": "number",
      "id": "Mobile_bottom",
      "label": "Mobile Margin Bottom",
      "default": 0
    },
    {
      "type": "number",
      "id": "Desktop_paddingBottom",
      "label": "Desktop Padding Bottom",
      "default": 0
    },
    {
      "type": "number",
      "id": "Mobile_paddingBottom",
      "label": "Mobile Padding Bottom",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "item",
      "settings": [
        {
          "type": "image_picker",
          "id": "img",
          "label": "img"
        },
        {
          "type": "image_picker",
          "id": "icon",
          "label": "icon"
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Section Index5",
      "category": "Index"
    }
  ]
}
{% endschema %}
