<style>
  @media screen and (min-width: 1000px) {
      #shopify-section-{{section.id}}{
          padding-top: {{ section.settings.padding_top }}px;
          padding-bottom: {{ section.settings.padding_bottom }}px;
      }
      #shopify-section-{{section.id}} .order-information-text{
          padding-top:20px;
      }
      #shopify-section-{{section.id}} img{
          max-width: 60px;
      }
      #shopify-section-{{section.id}} .order-information-wrapper{
          display: grid;
          grid-template-columns: 24% calc(76% - 20px);
          gap: 20px;
      }
      #shopify-section-{{section.id}} .order-information-slider-container{
          display: grid;
          grid-template-columns: repeat(3,1fr);
          gap: 20px;
      }
      #shopify-section-{{section.id}} .information-slide{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 60px;
          padding: 5rem 0;
      }
  }

  @media (max-width: 999px) {
      #shopify-section-{{section.id}}{
          padding-top: {{ section.settings.h5_padding_top }}px;
          padding-bottom: {{ section.settings.h5_padding_bottom }}px;
      }
      #shopify-section-{{section.id}} .order-information-text{
          padding-top:12px;
      }
      #shopify-section-{{section.id}} img{
          max-width: 50px;
      }
      #shopify-section-{{section.id}} .order-information-slider-container{
          display: grid;
          grid-template-columns: repeat(1,1fr);
          gap: 14px;
          margin-top: 34px;
      }
      #shopify-section-{{section.id}} .information-slide{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 32px;
          padding: 32px 0;
      }
  }

  #shopify-section-{{section.id}} .information_title{
      text-align: center;
  }

  #shopify-section-{{section.id}} .information_link{
      position: relative;
  }
</style>
{% if section.settings.anchor_id != blank %}
  <div data-anchor-id="{{ section.settings.anchor_id }}"></div>
{% endif %}
<div class="page-width order-information-container">
  <div class="order-information-wrapper">
    <div class="order-information-header">
      <h2 class="my_h_48 my_m_24 order-information-title font2">{{ section.settings.title }}</h2>
      <div class="my_h_14 my_m_12 order-information-text">{{ section.settings.text }}</div>
    </div>
    <div class="order-information-slider-container">
      {% for block in section.blocks %}
        {% if block.settings.link != blank %}
          <a href="{{ block.settings.link }}" class="information_link">
        {%- else -%}
          <div class="information_link">
        {% endif %}

        <div class="information-slide section_button1">
          <img
            src="{{ block.settings.image | img_url: '750x'}}"
            width="auto"
            height="auto"
            alt="{{ block.settings.image.alt }}"
          >
          <div class="information_title my_h_20 my_m_16 font2">{{ block.settings.title }}</div>
          <span class="corner-tl"></span>
          <span class="corner-br"></span>
        </div>
        <span class="dis1"></span>
        <span class="dis2"></span>
        {% if block.settings.link != blank %}
          </a>
        {%- else -%}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Support information",
  "settings": [
    {
      "type": "text",
      "id": "anchor_id",
      "label": "Anchor Id"
    },
    {
      "type": "richtext",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text"
    },
    { "type": "number", "id": "padding_top", "label": "Padding Top", "default": 120 },
    { "type": "number", "id": "padding_bottom", "label": "Padding Bottom", "default": 120 },
    { "type": "number", "id": "h5_padding_top", "label": "H5 Padding Top", "default": 80 },
    { "type": "number", "id": "h5_padding_bottom", "label": "H5 Padding Bottom", "default": 80 }
  ],
  "blocks": [
    {
      "name": "block",
      "type": "block",
      "limit": 3,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Support information"
    }
  ]
}
{% endschema %}
